@use "src/styles";

@layer components {
  .poe-a-spinner {
    display: inline-block;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      border-style: solid;
      border-color: var(--neutral-2);
      border-radius: 50%;
      animation: poe-a-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
    }

    @include styles.all-colors($css-property: border-top-color, $class: poe-a-spinner-style-type);
  }

  @keyframes poe-a-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .poe-a-spinner-size-small {
    @include styles.space($size: 6, $css-property: width);
    @include styles.space($size: 5, $css-property: height);

    div {
      @include styles.space($size: 6, $css-property: width);
      @include styles.space($size: 6, $css-property: height);
      @include styles.space($size: 1, $css-property: border-width);
    }
  }

  .poe-a-spinner-size-medium {
    @include styles.space($size: 18, $css-property: width);
    @include styles.space($size: 17, $css-property: height);

    div {
      @include styles.space($size: 18, $css-property: width);
      @include styles.space($size: 18, $css-property: height);
      @include styles.space($size: 2, $css-property: border-width);
    }
  }

  .poe-a-spinner-size-large {
    @include styles.space($size: 36, $css-property: width);
    @include styles.space($size: 35, $css-property: height);

    div {
      @include styles.space($size: 36, $css-property: width);
      @include styles.space($size: 36, $css-property: height);
      @include styles.space($size: 3, $css-property: border-width);
    }
  }
}

