@use 'src/styles';

@layer components {
  .poe-o-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-2);
    @include styles.space($size: 4, $css-property: gap);

    .poe-o-footer-container-spacing {
      padding: 1rem;
    }

    .poe-o-footer-main-content {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @include styles.for-phone-only {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .poe-o-footer-main-content-brand {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 10rem;
    }

    .poe-o-footer-main-content-brand-image {
      width: 10rem;
      height: 10rem;
    }

    .poe-o-footer-main-content-directory {
      flex-grow: 1;
    }

    .poe-o-footer-copyright {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      border-top: 0.01em solid var(--neutral-3);
    }
  }
}
