@use "src/styles";

@layer components {
  .poe-a-input-container {
    @include styles.typography;
    display: flex;
    flex-direction: column;
    @include styles.space($size: 2, $css-property: gap);
  }

  .poe-a-input-label-disabled {
    opacity: 0.7;
    color: var(--neutral-8);
  }

  // Hidden from users who are not using a screen-reader
  .poe-a-input-label-hidden {
    @include styles.visually-hidden;
  }

  .poe-a-input-label-required-decorator {
    color: var(--danger);
  }

  .poe-a-input-wrapper {
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      border: solid;
      @include styles.space($size: 3, $css-property: padding);
      @include styles.space($size: 2, $css-property: border-radius);
      @include styles.space($size: 1, $css-property: border-width);
      background-color: var(--neutral-1);
      border-color: var(--neutral-2);
      color: var(--neutral-10);

      &:hover {
        border-color: var(--neutral-5);
      }

      &:focus {
        border-color: var(--primary);
        outline: none;
      }

      &:disabled {
        opacity: 0.7;
        cursor: no-drop;
      }
    }

    .poe-a-input-password-visibility-icon {
      position: relative;
      right: 2.2em;
      height: 1em;
      padding-left: 0.5em;
      // Removing whitespace made by icon next to the input
      margin-right: -1.5em;

      img {
        filter: invert(45%) sepia(9%) saturate(3%) hue-rotate(344deg) brightness(97%) contrast(90%);
        width: 1em;
        height: 1em;
      }
    }
  }
}
