@use "sass:map";

$colors: (
  primary-lightest: (default: var(--primary-200), dark: var(--primary-700)),
  primary-lighter: (default: var(--primary-300), dark: var(--primary-600)),
  primary-light: (default: var(--primary-400), dark: var(--primary-500)),
  primary: (default: var(--primary-500), dark: var(--primary-400)),
  primary-dark: (default: var(--primary-600), dark: var(--primary-300)),
  primary-darker: (default: var(--primary-700), dark: var(--primary-200)),
  primary-darkest: (default: var(--primary-800), dark: var(--primary-100)),
  warning-lightest: (default: var(--warning-200), dark: var(--warning-800)),
  warning-lighter: (default: var(--warning-300), dark: var(--warning-700)),
  warning-light: (default: var(--warning-400), dark: var(--warning-600)),
  warning: (default: var(--warning-500), dark: var(--warning-500)),
  warning-dark: (default: var(--warning-600), dark: var(--warning-400)),
  warning-darker: (default: var(--warning-700), dark: var(--warning-300)),
  warning-darkest: (default: var(--warning-800), dark: var(--warning-200)),
  danger-lightest: (default: var(--danger-200), dark: var(--danger-700)),
  danger-lighter: (default: var(--danger-300), dark: var(--danger-600)),
  danger-light: (default: var(--danger-400), dark: var(--danger-500)),
  danger: (default: var(--danger-500), dark: var(--danger-400)),
  danger-dark: (default: var(--danger-600), dark: var(--danger-300)),
  danger-darker: (default: var(--danger-700), dark: var(--danger-200)),
  danger-darkest: (default: var(--danger-800), dark: var(--danger-100)),
  success-lightest: (default: var(--success-500), dark: var(--success-800)),
  success-lighter: (default: var(--success-600), dark: var(--success-700)),
  success-light: (default: var(--success-700), dark: var(--success-600)),
  success: (default: var(--success-800), dark: var(--success-500)),
  success-dark: (default: var(--success-900), dark: var(--success-400)),
  success-darker: (default: var(--success-1000), dark: var(--success-300)),
  success-darkest: (default: var(--success-1001), dark: var(--success-200)),
  info-lightest: (default: var(--info-300), dark: var(--info-800)),
  info-lighter: (default: var(--info-400), dark: var(--info-700)),
  info-light: (default: var(--info-500), dark: var(--info-600)),
  info: (default: var(--info-600), dark: var(--info-500)),
  info-dark: (default: var(--info-700), dark: var(--info-400)),
  info-darker: (default: var(--info-800), dark: var(--info-300)),
  info-darkest: (default: var(--info-900), dark: var(--info-200)),
  neutral-1: (default: var(--neutral-100), dark: var(--neutral-1000)),
  neutral-2: (default: var(--neutral-200), dark: var(--neutral-900)),
  neutral-3: (default: var(--neutral-300), dark: var(--neutral-800)),
  neutral-4: (default: var(--neutral-400), dark: var(--neutral-700)),
  neutral-5: (default: var(--neutral-500), dark: var(--neutral-600)),
  neutral-6: (default: var(--neutral-600), dark: var(--neutral-500)),
  neutral-7: (default: var(--neutral-700), dark: var(--neutral-400)),
  neutral-8: (default: var(--neutral-800), dark: var(--neutral-300)),
  neutral-9: (default: var(--neutral-900), dark: var(--neutral-200)),
  neutral-10: (default: var(--neutral-1000), dark: var(--neutral-100)),
);

$themes: (default, dark);

@each $theme in $themes {
  @layer theme {
    .theme-#{$theme} {
      @each $type, $color-map in $colors {
        --#{$type}: #{map-get($color-map, $theme)};
      }
    }
  }
}

body {
  background-color: var(--neutral-1);
}

@mixin all-colors($css-property: background-color, $class: poe-element) {
  @each $type, $map in $colors {
    .#{$class}-#{$type} {
      #{$css-property}: var(--#{$type});
    }
  }
}
