@use 'src/styles';

@layer components {
  .a-link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include styles.space($size: 1, $css-property: gap);

    .a-link-brand-label {
      @include styles.visually-hidden;
    }

    img {
      @include styles.space($size: 4, $css-property: width);
    }
  }
}
